#Basic Ignore
Assembly*
Library*
Logs*
*.sln
*.userprefs
Temp/*
Assets/Strumpy*
obj/
Assets/UnityBuildSettings/*

#Visual Stuido Files
.vscode
.vs/
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
